build/
!build/Anonify.abi
!build/Anonify.bin

target/
core/enclave/target
core/host/target
example/server/target
!example/server/target/debug/anonify-server

docker/
!docker/entrypoint

.dockerignore
