[package]
name = "module-encrypted-sql-ops-enclave"
version = "0.1.0"
authors = ["LayerX Labs <div-labs@layerx.co.jp>"]
edition = "2018"

[dependencies]
sgx_tstd = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git", features = ["net","backtrace"] }
frame-enclave = { path = "../../frame/enclave" }
frame-config = { path = "../../frame/config", default-features = false, features = ["sgx"] }
frame-runtime = { path = "../../frame/runtime", default-features = false, features = ["sgx"] }
frame-sodium = { path = "../../frame/sodium", default-features = false, features = ["sgx"] }
frame-treekem = { path = "../../frame/treekem", default-features = false }
module-encrypted-sql-ops-ecall-types = { path = "../encrypted-sql-ops-ecall-types", default-features = false, features = ["sgx"] }
test-utils = { path = "../../tests/utils", default-features = false, features = ["sgx"] }
serde = { git = "https://github.com/mesalock-linux/serde-sgx.git" } # Don't specify version due to serde_json dependency
aes = "0.7.2"
thiserror = { git = "https://github.com/mesalock-linux/thiserror-sgx.git" }
anyhow = { rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/anyhow-sgx.git" }
