[package]
name = "key-vault-server"
version = "0.5.4"
authors = ["LayerX Labs <div-labs@layerx.co.jp>"]
edition = "2018"

[dependencies]
key-vault-node-server = { path = "../../../nodes/key-vault", default-features = false }
anonify-eth-driver = { path = "../../../modules/anonify-eth-driver", default-features = false }
frame-host = { path = "../../../frame/host" }
actix-web = "3"
failure = "0.1"
tracing-subscriber = "0.2"

[features]
default = ["std", "backup-enable", "verify-mr-enclave-enable"]
std = [
    "anonify-eth-driver/std",
]
backup-enable = [
    "anonify-eth-driver/backup-enable",
]
verify-mr-enclave-enable = [
    "anonify-eth-driver/verify-mr-enclave-enable",
]