[package]
name = "key-vault-enclave"
version = "0.5.2"
authors = ["LayerX Labs <div-labs@layerx.co.jp>"]
edition = "2018"

[dependencies]
sgx_tse = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
sgx_tstd = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git", features = ["net","backtrace"] }
sgx_types = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
frame-mra-tls = { path = "../../frame/mra-tls" }
frame-enclave = { path = "../../frame/enclave" }
frame-config = { path = "../../frame/config", default-features = false, features = ["sgx"] }
frame-common = { path = "../../frame/common", default-features = false, features = ["sgx"] }
frame-runtime = { path = "../../frame/runtime", default-features = false, features = ["sgx", "backup-enable"] }
frame-sodium = { path = "../../frame/sodium", default-features = false, features = ["sgx"] }
frame-treekem = { path = "../../frame/treekem" }
key-vault-ecall-types = { path = "../key-vault-ecall-types", default-features = false, features = ["sgx"] }
anyhow = { rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/anyhow-sgx.git" }
rustls = { rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/rustls", features = ["dangerous_configuration"] }
serde_json = { rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/serde-json-sgx" }
serde = { git = "https://github.com/mesalock-linux/serde-sgx.git" } # Don't specify version due to serde_json dependency
hex = { version = "0.4", default-features = false }
