[package]
name = "encrypted-sql-ops-enclave"
version = "0.1.0"
authors = ["LayerX Labs <div-labs@layerx.co.jp>"]
edition = "2018"

[lib]
name = "encrypted_sql_ops"
crate-type = ["staticlib"]

[dependencies]
frame-config = { path = "../../../frame/config", default-features = false, features = ["sgx"] }
frame-enclave = { path = "../../../frame/enclave" }
frame-types = { path = "../../../frame/types" }
module-encrypted-sql-ops-enclave = { path = "../../../modules/encrypted-sql-ops-enclave" }
module-encrypted-sql-ops-ecall-types = { path = "../../../modules/encrypted-sql-ops-ecall-types", default-features = false, features = ["sgx"] }
sgx_tstd = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git"}
anyhow = { rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/anyhow-sgx.git" }
lazy_static = { version = "1.4", features = ["spin_no_std"] }
bincode = { rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/bincode-sgx" }
env_logger = { git = "https://github.com/mesalock-linux/env_logger-sgx", default-features = false, features = ["mesalock_sgx"] }
log = { git = "https://github.com/mesalock-linux/log-sgx" }

[features]
default = []
runtime_enabled = []
