[package]
name = "frame-runtime"
version = "0.5.2"
authors = ["LayerX Labs <div-labs@layerx.co.jp>"]
edition = "2018"

[dependencies]
frame-common = { path = "../common", default-features = false }
remote-attestation = { path = "../remote-attestation", optional = true }
frame-types = { path = "../types" }
frame-treekem = { path = "../treekem", default-features = false, optional = true }
frame-mra-tls = { path = "../mra-tls", optional = true }
frame-sodium = { path = "../sodium", default-features = false, optional = true }
sgx_tstd = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }
anyhow-std = { version = "1.0", package = "anyhow", optional = true }
anyhow-sgx = { rev = "sgx_1.1.3", package = "anyhow", git = "https://github.com/mesalock-linux/anyhow-sgx.git", optional = true }
libsecp256k1 = { version = "0.2", default-features = false }
serde-std = { package = "serde", version = "1", default-features = false, optional = true }
serde-sgx = { package = "serde", git = "https://github.com/mesalock-linux/serde-sgx.git", default-features = false, optional = true, features = ["derive"] }
serde_json = { rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/serde-json-sgx", optional = true }
bincode-std = { package = "bincode", version = "1.3", optional = true }
bincode-sgx = { package = "bincode", git = "https://github.com/mesalock-linux/bincode-sgx", optional = true }
serde_bytes_std = { package = "serde_bytes", version = "0.11", optional = true }
serde_bytes_sgx = { package = "serde_bytes", git = "https://github.com/mesalock-linux/serde-bytes-sgx", optional = true }

[features]
default = ["std", "backup-enable"]
std = [
    "frame-common/std",
    "anyhow-std",
    "serde-std/std",
    "serde-std/derive",
    "bincode-std",
    "serde_bytes_std",
]
sgx = [
    "frame-common/sgx",
    "frame-treekem",
    "frame-mra-tls",
    "frame-sodium/sgx",
    "sgx_tstd",
    "anyhow-sgx",
    "serde-sgx",
    "serde-sgx/derive",
    "remote-attestation",
    "serde_json",
    "bincode-sgx",
    "serde_bytes_sgx",
]
backup-enable = []